<!-- templates/form.html -->
{% extends 'base.html' %}

{% block content %}
<div class="layui-container">
    <h1>Layui 表单示例</h1>
    <form class="layui-form" action="" method="post">
        {% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="submit">提交</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}