<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基本信息页面</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .info-window {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }

        .error {
            color: red;
        }
    </style>

    {% load static %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <script src="{% static 'layui/js/layui.js' %}"></script>
</head>


<body>
    <div class="info-window" id="infoWindow">
        <p id="loading">加载中...</p>
    </div>
    <button id="logoutButton">登出</button>
    {% load static %}
    <script type="text/javascript" src="{% static 'DataManager/basic_info.js' %}">

    </script>
</body>

</html>